.sidebar {
  background: #515251;
  padding: 10px;
  width: 300px;
  position: fixed;
  height: 100%;

  h1{
      color: white;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      color: white;
      margin: .3em 0;
    }
  }
}

.content {
  flex: 1;
  position: relative;
  margin-left: 300px;
  height: 100%;

  &__top{
      background-color: #56C3BE;
      padding: 18px;
      text-align: right;
      color: white;

      .bell-link{
        display: inline-block;
        position: relative;

        i {
            font-size: 23px;
            color: white;
        }

        &__count{
            font-size: 10px;
            color: white;
            background-color:#D02027;
            padding: 2px 4px;
            border-radius: 50px;
            font-weight: bold;
            position: absolute;
            bottom: -2px;
            right: -5px;
        }
      }    
  }

  &__head-img{
      height: 230px;
      background-color: cornsilk;
      background-position: center center;
      background-size: cover;

      &.bg-v1{
        background-image: url(assets/images/head-img01.jpg);
      }
  }

  &__main{
      padding: 30px;
  }
}

h1,h2 {
  margin-top: 0;
}