.sidebar {
  background: #515251;
  width: 300px;
  position: fixed;
  height: 100%;

  h1{
      color: white;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      color: white;
      margin: .3em 0;
    }
  }

  &__navbar {
      text-align: center;
      background-color: #4CB2AA;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .navbar-toggle{
          background-color: transparent;
          border: none;
          position: absolute;
          right: 0px;
          cursor: pointer;

          i{
              font-size: 18px;
              color: white;
              margin-right: 8px;
          }
      }

      .navbar-logo{
          height: 35px;
      }
  }
}

.content {
  flex: 1;
  position: relative;
  margin-left: 300px;
  height: 100%;

  &__top{
      background-color: #56C3BE;
      text-align: right;
      color: white;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0px 18px;

      .bell-link{
        display: inline-block;
        position: relative;

        i {
            font-size: 23px;
            color: white;
        }

        &__count{
            font-size: 10px;
            color: white;
            background-color:#D02027;
            padding: 2px 4px;
            border-radius: 50px;
            font-weight: bold;
            position: absolute;
            bottom: -2px;
            right: -5px;
        }
      }    
  }

  &__head-img{
      height: 230px;
      background-color: cornsilk;
      background-position: center center;
      background-size: cover;

      &.bg-v1{
        background-image: url(assets/images/head-img01.jpg);
      }
  }

  &__main{
      padding: 40px 75px;
  }
}

h1,h2 {
  margin-top: 0;
}